/*footer*/

footer {
	background: rgba(0,0,0,0.8);
	min-height: 300px;
}

footer section {
	
	border-bottom: 1px solid rgba(255,255,255,0.3);
	box-sizing: border-box;
	color: rgba(255,255,255,0.8);
	float: left;
	min-height: 100px;
	padding-left: 10px;
	width: 100%;
}
footer h3 {
	font-size: 2em;
	margin-bottom: 0;
	font-weight: normal;
}
footer p {
	margin-top: 5px;
	font-size: 1.5em;
}

@media screen and (min-width: 768px) {
	footer {
		width: 100%;
	}
	footer section {
		height: 300px;
		width: 33.333%;
		border-right: 1px solid rgba(255,255,255,0.3);
		border-bottom: 0;
	}
    footer section:last-child {
		border:0;
	}
}