* {
  box-sizing: border-box;
}

body:hover {
  background: url(../img/12_col.gif) center top repeat-y;
}
body {
  width: 960px;
  margin: 0 auto;
  height: 300px;
}

.row:after {
  content: "";
  clear:both;
  display: block;
}


[class*="col-"] {
  margin: 0 10px 20px 10px;
  float: left;
  text-align: center;
}

.inner {
  margin: 0 20px 20px 0;
}

.inner:last-child {
  margin: 0 0 20px 0;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 21.87%;}
.col-4 {width: 34.90%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 60.85%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 98%;}

@media only screen and (max-width: 480px) {
  body {
    width: 300px;
  }
  
  [class*="col-"] {
    width: 300px;
    margin: 0 0 20px 0;
  }
}
