/* INTRO TEXT */

.intro {
    width: 330px;
    margin: 10% auto;
}

.intro p {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
   /* background-color: #FFF; */
    padding: 0px;
    margin: 5% 0;
    border-radius: 0px;
	color: #FFF;
}


@media screen and (min-width: 768px) {
	/* INTRO TEXT */
	.intro {
		min-width: 960px;
		margin: 1% auto; 
	}
	.intro p {
		font-family: 'Roboto', sans-serif;
		font-weight: 100;
		font-size: 2.5vw;
		text-align: left;
		padding: 1px;
		margin: 2% 0;
		border-radius: 0px;
		}
}