/* INTRO TEXT */

.intro {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}

.intro p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 4vmin;
    text-align: center;
    margin: 5% 0;
    border-radius: 0px;
    color: #FFF;
    
}

@media screen and (min-width: 768px) {
    /* INTRO TEXT */
    .intro {
        width: 85%;
        margin-top: 100px;
    }
    .intro p {
        font-size: 2vw;
        text-align: left;
        margin: 2% 0;
    }
}