@import url(https://fonts.googleapis.com/css?family=Roboto);
  
}
.about {
  text-align: center;
}
.about h2 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 30px;
}
p.company {
  text-align: center;
  font-size: 14px;
}

p.role {
  font-size: 14px;
  line-height: 2%;
}

p.other {
  font-size: 13px;
}

.member {
  padding-right: 10px;
  text-align: center;
}

.member img {
  border-radius: 50%;
  width: 100%;
}

.icon {
  margin-right: 5px;
  color: #333;
  transition: all 0.5s ease-out;
}

.icon:hover {
  color: red;
  transition: all 0.5s ease-out;
}




@media only screen and (max-width: 480px) {
  .member {
    width: 100%;
  } 
  
  @media only screen and (max-width: 768px) {
  .member {
    width: 50%;
  } 
}