body {
    background: #FFF;
    margin: 0;
    font-size: 14px;
}


/* **************
       MOBILE
   ************** */


/* HEADER */

header {
    background: #ab6e39;
    height: 120vh;
}

header img {
    width: 90%;
    margin: 5%;
}


/* MENY */

ul {
    padding: 0;
    margin: 0;
}

nav li {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2em;
    list-style: none;
    text-align: center; 
}

nav a {
    text-decoration: none;
    color: black;
}


/* INTRO TEXT */

.intro {
    width: 330px;
    margin: 10% auto;
}

.intro p {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    background-color: #FFF;
    padding: 3px;
    margin: 5% 0;
    border-radius: 3px;
}


/* VÅRA TJÄNSTER */

section.services {
    background: #16783c;
    height: 130vh;
    margin: 0 auto;
}

section.services h2 {
    margin: 0;
    padding: 5%;
    text-align: center;
}

/* IKONER OCH BESKRIVNING */

.fig {
    width: 330px;
    margin: 0 auto;
}

figure {
    margin: 5px;
    margin-left: 20px;
    width: 165px;
    float: left;
    margin: 0 auto;
}

section.services figure img {
    width: 75px;
    height: 75px;
    margin: 0 31px;
    border: solid 3px black;
    border-radius: 50px;
    padding: 10px;
    background: #fff;
}

figcaption {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: 140px;
    margin: 0 auto;
    border: 0;

}

.clear {
    content: "";
    display: table;
    clear: both;
}